server:
  port: 8090

spring:
  application:
    name: xqzx-content-service
  datasource:
    url: jdbc:mysql://47.100.178.192:3306/xqzx
    username: root
    password: xqzx@123
    hikari:
      maximum-pool-size: 30
      minimum-idle: 10
eureka:
  instance:
    prefer-ip-address: true   #默认ip优先
    instance-id: ${spring.application.name}:${server.port}
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://127.0.0.1:9080/eureka/,http://127.0.0.1:9090/eureka/
    registry-fetch-interval-seconds: 5    #每隔5秒拉取一次服务列表